@charset "UTF-8";
html body footer, html body main, html body header {
  width: 100%;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

html body main .content {
  height: 100%;
  background-color: white;
  width: 1000px;
  min-height: 200px;
}

html {
  height: 100%;
  margin: 0;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html body header {
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: midnightblue;
  border-bottom: 2px solid blue;
}
html body header .menu {
  margin: 0;
  width: 1000px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
html body header .menu .logo {
  margin: 0;
  width: 65px;
  height: 80px;
  margin-left: 35px;
}
html body header .menu .logo img {
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
html body header .menu .main-menu {
  margin: 0;
  width: 800px;
}
html body header .menu .main-menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
html body header .menu .main-menu ul li {
  background-color: dodgerblue;
  text-align: center;
  display: flex;
  align-items: center;
  min-width: 130px;
  width: 155px;
  margin: 0;
}
html body header .menu .main-menu ul li:hover {
  border-radius: 50px;
  background-color: royalblue;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
}
html body header .menu .main-menu ul li:not(:hover) {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
}
html body header .menu .main-menu ul li:active {
  background-color: mediumblue;
}
html body header .menu .main-menu ul li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 13px;
  width: 100%;
  display: block;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}
html body main {
  margin: 0;
  background-color: skyblue;
  flex-grow: 1;
}
html body main .content {
  margin: 0;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 120px;
  margin-bottom: 100px;
}
html body main .content section {
  margin: 0px;
}
html body main .content section h1 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  width: 100%;
}
html body main .content section h1::before {
  content: "🔹";
}
html body main .content section video {
  display: block;
  margin: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 25px;
}
html body main .content section audio {
  display: block;
  margin: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html body main .content section p {
  text-align: justify;
  padding: 0px 50px 0px 50px;
  margin: 0px;
}
html body main .content section p::first-letter {
  margin-left: 30px;
}
html body main .content section p a:-webkit-any-link {
  text-decoration: none;
}
html body main .content section p a:-moz-any-link {
  text-decoration: none;
}
html body main .content section p a:any-link {
  text-decoration: none;
}
html body main .content section p a:link {
  color: dodgerblue;
}
html body main .content section p a:visited {
  color: lightgray;
}
html body main .content section details {
  margin-left: 70px;
}
html body main .content section picture {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}
html body main .content section picture figure {
  margin: 0px;
}
html body main .content section picture figure img {
  width: 150px;
  height: 150px;
  border: 2px solid #55c5e9;
  background: #666;
  margin: 25px 25px 0px 25px;
}
html body main .content section picture figure figcaption {
  font-family: monospace;
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
}
html body footer {
  margin: 0;
  background-color: midnightblue;
  height: 20px;
  position: -webkit-sticky;
  position: sticky;
}
html body footer .madeby {
  margin: 0;
  justify-content: center;
  align-items: center;
  height: inherit;
}
html body footer .madeby p {
  margin: 0;
  font-family: sans-serif;
  color: white;
}/*# sourceMappingURL=main.css.map */